{% extends 'Interface/base.html' %}
{% load static %}

{% block Output %}
<section id="gallery" class="section section-gallery scrollspy">
	<div class="container">
		<h4 class="center "><span class="text">Visualize</span> 
			<a class="waves-effect waves-light btn modal-trigger">{{word}}</a>
			<!-- Modal Structure -->
			<div id="modal1" class="modal">
				<div class="modal-content">
					<h4>{{word}}</h4>
				</div>
			</div>
		</h4>
		<hr>
		<div class="row">
			{% for link_score in img_score_set %}
			<div class="col s12 m3">
				<img src="{{link_score.0}}" class="material-boxed responsive-img"></img>
				<div class="container valign center"><p class="deep-orange darken-1 z-depth-5">Strength: {{link_score.1}}</p></div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}